/* Img de consultas */
.img-dec{
    margin-top: 50px;
    margin-left: 360px;
}
/* fin de img */
/* Div consultas */
.div-container-consultas{
    text-align: center;
    font-size: 20px;
    padding: 50px;
    margin-top: 20px;
}
/* Fin de consultas */
/* Cartas de consultas */
.container-carts{
    display: flex;
    justify-content: space-around;
    .card{
        transition: 0.4s;
        border: 3px solid black;
    }
    .card:hover{
        transform: scale(1.05);
        transition: 0.5s;
    }
}
/* fin de las cartas */
/* REGLAS */
.requisitos{
    margin-top: 100px;
    .requisitos__h2{
        text-align: center;
        animation-name: girar;
        animation-duration: 2s;
        animation-iteration-count: 3;
    }    
}
.reglas{
    justify-content: center;
text-align: center;
align-items: center;
  display: flex;
  flex-wrap: wrap;
  div{
    box-shadow: 8px 7px 10px black;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid purple;
    text-align: center;
    justify-content: center;
    margin: 20px;
}
}
@keyframes girar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
/* fin de reglas */
/* Pasos */
.div-container-pasos{
    margin-top: 15px;
    text-align: center;
}
/* fin de pasos */
/* Pasos para la consulta */
.div-container-seguimiento{
    text-align: center;
    border: 10px outset purple;
}
/* fin de seguimiento de pasos */
/* Pagos/Abonar */
.div-container-sistema{
    text-align: center;
    margin-top: 50px;
}
.div-container-pagos{
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    div{
        box-shadow: 10px 10px 10px black;
        width: 300px;
        background-color: tomato;
        border: 10px solid white;
        transition: 1s;
    }
    div:hover{
        transform: scale(1.1);
        border: 10px solid black;
        background-color: white;
        transition: 1s;
    }
    a{
        color: #000;
        text-decoration: none;
    }
}
/*fin de pagos */
/* Avisos */
.div-container-avisos{
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
    p{
        
    }
    img{
        width: 100px;
    }
}
/* fin de avisos */






