%diseñoVerMas{
    display: inline;
    transform: translate(-630px, 750px);
    background-color: black;
    color: white;
    opacity: 0.9;
    padding: 10px;
    height: 100px;
    border-radius: 5px;
}